<article id="team" name="team">
    <h2 class="text-center">Team</h2>
    <div class="row justify-content-center mx-2 my-3">
      <div class="col-md-4 cardTeam">
        <img src="assets/img/jorge.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
        <h3>Albornoz Jorge</h3>
        <h4>Desarrollador</h4>
        <div class="row justify-content-center mt-0">
            <div class="col-3">
                <a class="ico ico-1" href="https://www.linkedin.com/in/jorge-ruben-albornos-saint-claire-5a0b261b5/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="col-3"> 
                <a class="ico ico-2" href="https://elated-mclean-71a087.netlify.app/"  target="_blank"><i class="bi bi-dribbble"></i></a>
            </div>
        </div>          
      </div>
      <div class="col-md-4 cardTeam">
        <img src="assets/img/lucas.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
        <h3>Mendoza Lucas</h3>
        <h4>Desarrollador Web</h4>
        <div class="row justify-content-center mt-0">
            <div class="col-3">
                <a class="ico ico-1" href="https://www.linkedin.com/in/lucas-mendoza-2995471b2/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>          
      </div>
      <div class="col-md-4 cardTeam">
        <img src="assets/img/ezequiel.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
        <h3>Miranda Ezequiel</h3>
        <h4>Desarrollador</h4>
        <div class="row justify-content-center mt-0">
            <div class="col-3">
                <a class="ico ico-1" href="https://www.linkedin.com/in/ezequiel-miranda-038b99205/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>        
      </div>
    </div>
    <div class="row justify-content-center mx-2 my-3">
        <div class="col-md-4 cardTeam">
            <img src="assets/img/maria.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
            <h3>Tapia Maria Paola</h3>
            <h4>Analista De Sistemas</h4>
            <div class="row justify-content-center mt-0">
                <div class="col-3">
                    <a class="ico ico-1" href="https://www.linkedin.com/in/ma-paola-tapia/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>          
          </div>
          <div class="col-md-4 cardTeam">
            <img src="assets/img/nadir.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
            <h3>Nadir</h3>
            <h4>Ingeniero en Sistemas</h4>
            <div class="row justify-content-center mt-0">
                <div class="col-3">
                    <a class="ico ico-1" href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>          
          </div>
          <div class="col-md-4 cardTeam">
            <img src="assets/img/guillermo.jpg" class="rounded mx-auto"  alt="Imagen Presentacion">
            <h3>Velasco Guillermo</h3>
            <h4>Desarrollador</h4>
            <div class="row justify-content-center mt-0">
                <div class="col-3">
                    <a class="ico ico-1" href="https://www.linkedin.com/in/guillermoavelasco/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>          
          </div>
    </div>
</article>