<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark mt-4">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo-top.png" alt="Logo Sitio">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="container">
            <ul class="navbar-nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Opcion 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Opcion 2</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Opcion 3</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Opcion 4</a>
              </li>              
            </ul>
        </div> 
      </div>  
    </nav>
    <div id="mainDashboard">
        <div class="row">
            <div class="col">
                <img src="assets/img/chart.png" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets/img/table.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>